body {
    background-color: #ccdadf;
}

#exprShow {
    background-color: #dee1e3;
    color: #638397;
}

h1 {
    color: #638397;
}

.calcButtons,
.numButtons,
#squareButton,
#equalsButton,
#removeButton,
#resetButton,
#sqrtButton,
.calcButtons:hover,
.numButtons:hover,
#squareButton:hover,
#equalsButton:hover,
#removeButton:hover,
#resetButton:hover,
#sqrtButton:hover {
    border: 3px solid #0f3d47;
}

#resetButton,
#resetButton>button {
    background-color: #5611a4;
}